@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Roboto:wght@300;400&family=Rubik&family=Ubuntu:wght@300;400&display=swap");
/*abstracts*/
/*bases*/
/*layout*/
.navbar {
  background-color: #cbcbcb; }

#navbarNavAltMarkup {
  display: flex;
  justify-content: space-around;
  padding-left: 10px; }

.navbar-nav {
  display: flex;
  justify-content: space-between;
  gap: 30px; }
  .navbar-nav * {
    transition: all .35s ease; }

.nav-link {
  position: relative;
  color: black;
  font-family: 'Roboto Mono', monospace;
  justify-content: space-around; }

.nav-link::before,
.nav-link::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0; }

.nav-link::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #639ceb;
  border-right: 3px solid #639ceb;
  transform: translate(-100%, 50%); }

.nav-link:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #639ceb;
  border-left: 3px solid #639ceb;
  transform: translate(100%, -50%); }

.nav-link:hover:before,
.nav-link:hover:after {
  transform: translate(0, 0);
  opacity: 1; }

.nav-link:hover {
  color: #2772dc; }

.info {
  transform: rotate3d(1, 0, 0, 90deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  pointer-events: none;
  background-color: rgba(26, 188, 156, 0.9); }

.in-top .info {
  transform-origin: 50% 0%;
  animation: in-top 300ms ease 0ms 1 forwards; }

.in-right .info {
  transform-origin: 100% 0%;
  animation: in-right 300ms ease 0ms 1 forwards; }

.in-bottom .info {
  transform-origin: 50% 100%;
  animation: in-bottom 300ms ease 0ms 1 forwards; }

.in-left .info {
  transform-origin: 0% 0%;
  animation: in-left 300ms ease 0ms 1 forwards; }

.out-top .info {
  transform-origin: 50% 0%;
  animation: out-top 300ms ease 0ms 1 forwards; }

.out-right .info {
  transform-origin: 100% 50%;
  animation: out-right 300ms ease 0ms 1 forwards; }

.out-bottom .info {
  transform-origin: 50% 100%;
  animation: out-bottom 300ms ease 0ms 1 forwards; }

.out-left .info {
  transform-origin: 0% 0%;
  animation: out-left 300ms ease 0ms 1 forwards; }

@keyframes in-top {
  from {
    transform: rotate3d(-1, 0, 0, 90deg); }
  to {
    transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes in-right {
  from {
    transform: rotate3d(0, -1, 0, 90deg); }
  to {
    transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes in-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg); }
  to {
    transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes in-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg); }
  to {
    transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes out-top {
  from {
    transform: rotate3d(0, 0, 0, 0deg); }
  to {
    transform: rotate3d(-1, 0, 0, 104deg); } }

@keyframes out-right {
  from {
    transform: rotate3d(0, 0, 0, 0deg); }
  to {
    transform: rotate3d(0, -1, 0, 104deg); } }

@keyframes out-bottom {
  from {
    transform: rotate3d(0, 0, 0, 0deg); }
  to {
    transform: rotate3d(1, 0, 0, 104deg); } }

@keyframes out-left {
  from {
    transform: rotate3d(0, 0, 0, 0deg); }
  to {
    transform: rotate3d(0, 1, 0, 104deg); } }

/* you can ignore this ones */
.list-works {
  padding: 0;
  margin: 0 0 50px; }
  .list-works:after {
    content: "";
    display: table;
    clear: both; }

.item-works {
  position: relative;
  float: left;
  width: 250px;
  height: 250px;
  perspective: 500px;
  margin: 5px;
  list-style: none;
  justify-content: start; }

a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 4px; }

h3 {
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9); }

p {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8); }

.normal {
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  color: rgba(52, 73, 94, 0.6);
  box-shadow: inset 0 2px 20px #e6ebed;
  text-align: center;
  font-size: 50px;
  line-height: 200px; }
  .normal svg {
    pointer-events: none;
    width: 50px; }
    .normal svg path {
      fill: rgba(52, 73, 94, 0.2); }

h1 {
  margin: 0 auto 5px;
  text-align: center; }

h3 {
  font-family: "Bree Serif", serif; }

.container {
  width: 840px;
  display: grid; }

.social-media {
  display: flex;
  justify-content: center; }

.icons-image {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1; }

.icons-image .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3; }

.icons-image:hover .icon {
  color: #fff;
  transform: rotateY(360deg); }

.icons-image:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2; }

.icons-image:hover:before {
  top: 0; }

.icons:nth-child(1) a:before {
  background: #3b5999; }

.icons:nth-child(2) a:before {
  background: #55acee; }

.icons:nth-child(3) a:before {
  background: #0077b5; }

.icons:nth-child(4) a:before {
  background: #dd4b39; }

/*pages*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none; }

.fondo-principal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/image-principal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 4px 5px #b8b8b8; }

.fondo-text {
  color: black;
  text-align: center;
  width: 50%;
  text-shadow: 10px 10px 10px black; }

.fondo-text h1 {
  text-shadow: 10px 10px 10px white;
  font-family: 'Roboto Mono', monospace; }

.fondo-text p {
  font-size: 25px;
  text-shadow: 10px 10px 10px white;
  font-family: 'Roboto Mono', monospace; }

.second-font {
  background-image: url(../img/second-image.jpg);
  height: 140vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 4px 5px black;
  margin-top: 100px; }
