.webPages {
    display: flex;
    justify-content: center;
}

.titleWeb {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    text-shadow: 10px 10px 10px white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.subImages {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}